#header {
  background-color: #ffffff;
  width: 100%;
}

#banner{
  padding-top: 200px;
  background-size: cover;
  background-image: url(/images/bg_banner.png);
}

#questions{
  padding: 25px 0;
  background-size: cover;
  background-image: url("/images/subscribe_bg.png");
}