.banner{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  &-item{
    width: 50%;
  	
  	&:first-child{
	  margin-top: auto;
      margin-bottom: -17px;
  	}

    &_left{
      img{
        width: 100%;
        display: block;
      }
    }

    &_right{
      margin-left: 40px;
      color: #fff;

      h1{
        font-size: 35px;
        margin-bottom: 25px;
        font-weight: 700;
      }

      h3{
        font-size: 20px;
        margin-bottom: 60px;
        font-weight: 400;
      }

      &__buttons{
        display: flex;
        justify-content: flex-start;
        align-items: center;

        font-size: 19px;
        margin-bottom: 50px;

        a{
          display: block;
          text-decoration: none;
          color: #fff;
          padding: 15px 40px;
          margin: 0;
          border: 2px solid #8bc34a;
          border-radius: 5px;

          &:last-child{
            margin-left: 40px;
          }

          &:hover{
            background-color: #8bc34a;
          }
        }
      }
    }
  }
}