.feature{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  &-item{
    width: 50%;

    &_left{
      img{
        width: 100%;
        display: block;
      }
    }

    &_right{
      margin-left: 50px;

      h1{
        font-size: 35px;
        margin-bottom: 10px;
      }

      h5{
        font-size: 20px;
      }

      hr{
        border: none;
        color: red;
        background-color: #1975a4;
        height: 1px;
        margin-left: 0;
        margin-top: 18px;
        width: 200px;
        margin-bottom: 50px;
      }

      &__list{
        ul{
          display: flex;
          flex-direction: column;
          list-style-type: none;

          li{
            display: flex;
            justify-content: space-between;
            margin-bottom: 50px;

            &:before{
              margin-right: 25px;
              content: '';
              display: inline-block;
              width: 100px;
              height: 55px;
              background-repeat: no-repeat;
              background-size: contain;
            }

            &.list-item_1:before{
              background-image: url("/images/feature_1.png");
            }

            &.list-item_2:before{
              background-image: url("/images/feature_2.png");
            }

            &.list-item_3:before{
              background-image: url("/images/feature_3.png");
            }

            &.list-item_4:before{
              background-image: url("/images/feature_4.png");
            }
          }
          
          h5{
            margin-bottom: 0px;
          }

          p{

          }
        }
      }
    }
  }
}