.questions{
  text-transform: uppercase;
  color: #fff;
  text-align: center;

  h1{
    font-size: 35px;
    margin-bottom: 10px;
  }

  h3{
    font-size: 20px;
    font-weight: 400;
  }

  a{
    text-decoration: none;
    display: inline-block;
    color: #fff;
    padding: 20px 45px;
    border: 2px solid #8bc34a;
    margin-top: 20px;
    font-size: 17px;
    background-color: #8bc34a;

    &:hover{
      background-color: #8bc34a;
    }
  }
}